
/* ----------- BUTTON STYLES -----------  */
button{
  width: auto;
  padding: 0.7rem;
  height: 3rem;
  font-size: 1rem;
  border-style: none;
  box-shadow: none;
  border-radius: var(--border-radius);
  background-color:  #bee0be;
}

