
/* ----------- CARDS STYLES -----------  */
.list-contacts-article section{
  border: 1px solid gray;
  width: 20rem;
  height: 13rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--card-background);
}

/* body{
  background-color: blue;
} */