
/* TODO */
/* Modularize style sheets */
@import 'button.css';
@import 'form.css';
@import 'card.css';
/* Import the other style sheets */
/* Declare variables for card background, button background, border-radius at the root */

:root {
 --card-background: green;
 --border-radius: 50%; 
}

* {
  font-family: Helvetica, sans-serif;
}







